.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: min-content;
    margin: auto;
}

.icons[data-active="false"] .icon-arrow-right {
    transform: rotate(180deg);
}

.icons:hover .icon-arrows-switch {
    transform: scale(1.1);
}

.icon-arrows-switch {
    transition: transform 0.1s ease;
}

.icon-arrow-right {
    margin: 0 24px;
    height: 48px;
    width: 48px;
    stroke: var(--theme-primary);
    transition: transform 0.4s ease;
}

@media screen and (max-width: 900px) {
    .icon-arrow-right {
        transform: rotate(90deg);
    }

    .icons[data-active="false"] .icon-arrow-right {
        transform: rotate(270deg);
    }    
}